:root{
     /* fontsize  */
     --font-16: 1rem;
     --font-18: 1.125rem;

     --font-h5:1.25rem;
     --font-h4:1.75rem;
     --font-h6:1.15rem;
     --font-h3:2rem;
     --font-h2:3rem;
     --font-h1: 5rem
}

@media(max-width:1400px){
    .container{
        margin: 0 5% ;
        
    }
       section{
        margin: 2% 3%;
      
    }
}
@media(max-width:1280px){
    .product-container,
    .slideOne-container{  
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
       
     }
     #trending{
        margin-top: 15%;
     }
     #trending .trending-container,
     .modal-container{
        flex-direction: column;
     }
     .tranding-image-card .trending-img-card,
    .modal-image-card .modal-img-card{

        width: 60%;
       
    }

    
    
    .trending-container .tranding-contents,
    .modal-container .modal-contents{
    width: 100%;
 
    }
    #counter .counter-container,
    .counter .counter-container{
       
        grid-template-columns: repeat(2, 1fr);
      
     }
     .sub-group .sub-btn{
        width: 35%;
      }
      
}
@media(max-width:1080px){
    :root{
        /* fontsize  */
        --font-16: 0.9rem;
        --font-18: 1rem;
   
        --font-h5:1.15rem;
        --font-h4:1.55rem;
        --font-h6:1.05rem;
        --font-h3:1.8rem;
        --font-h2:2.8rem;
        --font-h1: 4rem
   }
   .hero-content h1{
    width: 70%;
   }
  

}
@media(max-width:968px){
    .product-container,
    .slideOne-container{  
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
       
     }
    
    
     .trading-cotainer {
      
        grid-template-columns: 1fr;
        gap: 35px;
        
     }
     .trending-container .tranding-image-card,
    .modal-container .modal-image-card{
        width: 100%;
        flex-direction: column;
       
    }
    .tranding-image-card .trending-img-card,
    .modal-image-card .modal-img-card{
        max-width: 100%;
        margin: 0 auto;
        width: 100%;
        flex-direction: row;
    } 
    footer .foot{
       flex-direction: column;
       gap: 50px;
     
      }
}
@media (max-width:780px){
    .marquee-container{
        padding: 10px 0;
    }
    
    body{
        overflow-x: hidden;
    }
    .product-container,
    .slideOne-container,
    #counter .counter-container,
    .counter .counter-container{  
        grid-template-columns:  1fr;

       
     }
     
     #hero .head{
        display: none;
     }
     #navBar{
        display: flex;
        width: 400px;
     }
     #product-container .slideOne-btn{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      .modal-body{
        margin-top: 15%;
      }
      .modal-image-card .modal-img-card,
      .tranding-image-card .trending-img-card{
        flex-direction: column;
      }
      .hero-content .hero-star{
        display: none;
      }
      #product .product-content,
    #trading .product-content,
    #hot-product .product-content,
    #post .product-content,
    #newArrival .product-content{
    flex-direction: column;
    justify-content: center;
    
 }
 .nav-btn {
    width: 150px;
 }
 .instagram-container .instagram-card{
    height: 200px;
 }

   
    

}
@media (max-width:500px){
    #product-container .slideOne-btn{
        display: grid;
        grid-template-columns:  1fr;
      }
      
      .modal-body{
        margin-top: 20%;
        height: 150vh;
      }
      .footer-card-left .sub-group{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
      .sub-group input:first-child{
        width: 90%;
       
      }
      .footer-card-right{
        flex-direction: column;
      }
      .copywrites{
        flex-direction: column;
     }
     #navBar{
        padding: 5px 15px;
        max-width: 90%;
     }
     #navBar .navBar-link{
        gap: 5px;
     }
     #navBar .nav-logo{
        font-size: 18px;
     }
     .nav-btn {
        width: 200px;
     }

}