:root{
    /* background color  */
    --bg-creme-color:#e9e2d4;
    --bg-white-color: #ffffe2;
    --bg-secondary-color: #2a2d25;
    --bg-primary-color: #ffffff;
    --bg-card-color: #d9d1c2;
 

     /* Text color  */

     --text-grey : #2a2d25;
     --text-white: #ffffff;
     --text-white2: #ffffffb3;
    /* gradient color  */
    
    --gradient-1: linear-gradient(120deg, #7a93b826, #7a93b808);
    --gradient-2: #7a93b81A;
    --gradient-3: linear-gradient(360deg, #7a93b826, #7a93b81A);
    
   
    /*others color*/
    --scrollbar-color: #ffffe2;
    --scrollbar-thump: #2a2d25 ;
    --scrollbar-hover: #263040;
   
    /* transition  */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    

     /* fontsize  */
     --font-16: 1rem;
     --font-18: 1.125rem;

     --font-h5:1.25rem;
     --font-h4:1.75rem;
     --font-h6:1.15rem;
     --font-h3:2rem;
     --font-h2:3rem;
     --font-h1: 5rem;
     
    
    


     /* font-weight  */
    

     /* z-index  */
     --z-minus:-1;
     --z-zero:0;
     --z-low:1;
     --z-high:10;
     --z-100:100;
     --z-tooltop:1000;
     --z-fix:1100;
     --z-overlay:1110;
     --z-modal:1990;
     --z-max:9999;


    }
    h1,h2,h3,h4,h5, #logo, .nav-logo, .marquee-content span ul{
        font-family: "Marcellus", serif;
    }
    h1{
        font-size: var(--font-h1);
        font-weight: 400;
    }
    h2{
        font-size: var(--font-h2);
    }
    h3{
        font-size: var(--font-h3);
    }
    h4{
        font-size: var(--font-h4);
    }
    h5{
        font-size: var(--font-h5);
    }
    h6{ font-size: var(--font-h6);}

    /* ----------------------------------------
      ============= reset css  ==============
      -------------------------------------------*/
    *,
    *::after,
    *::before{
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }
    li{
        list-style: none;
    }

    a,
    img,
    input,
    button,
    i{
        display: block;
        text-transform: capitalize;
    }
    input,
    textarea{
        font-family: "Roboto", sans-serif;
    }
    button{
     background: none;
     border: 0;
     outline: 0;
     background:var(--bg-white-color) ;
     color: var(--text-grey);
     
     cursor: pointer;
    }
    .btn{
      max-width: 100%;
    width: 200px;
      padding: 14px 5px;
      text-transform: capitalize;
      font-weight: 400;
      border: 1px solid #7e7a7a;
      border-radius: 30px;
      color: var(--text-grey);
      background: var(--bg-primary-color);
      transition: var(--transition-1);
      opacity: 1;
      cursor: pointer;
    }
    .product-btn{
        font-size: var(--font-h5);
        opacity: 1;
    }
    .product-btn:hover{
        opacity: 0.8;
    }
    
    a{
        text-decoration: none;
        text-align: center;
        cursor: pointer;
    }
    img{
        height: auto;
        max-width: 100%;
        object-fit: cover;
    }
   
    html{
        scroll-behavior: smooth;
       
    }
    body{
        max-width: 100%;
        width: 100%;
        height: auto;
        margin: 0 auto;
        position: relative;
        font-family: "Roboto", sans-serif;
        
        background: var(--bg-creme-color);
        color: var(--text-grey); 
    
        transition:  all 0.5s ease-in-out;
        animation: zoom 0.5s ease-in-out;
        overflow-x: hidden;

       

      
    }
    /* ============----page scroll bar-----============== */
::-webkit-scrollbar { 
        width: 5px;
       
        
    }

::-webkit-scrollbar-track { 
        overflow: hidden;
        background-color: var(--scrollbar-color);
       
    }
   
::-webkit-scrollbar-thumb {
   
    border-radius:100px;
    background-color: var(--scrollbar-thump);
    transition: 0.3s;
    cursor: grab; 
   
  }
  ::-webkit-scrollbar-thumb:hover{
  background-color: var(--scrollbar-hover);
  }
/* =====================others=========================== */
.container{
    max-width: 100%;
    padding: 0.5% 1% ;
    margin: 0 7% ;
    
}
   section,
   footer{
    margin: 2% 4%;
    max-width: 100%;
    position: relative;
    padding: 25px ;
}

@keyframes zoom{
    from{
        transform: scale(0.5);
        opacity: 0;
    }to{
        transform: scale(1);
        opacity: 1;
    }
 }


  /* ----------------------------------------
 ============= header start here  ==============
 -------------------------------------------*/ 
 header{
    max-width: 100%;
    position: relative;
    width: 100%;
 }
 header .head-card{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: var(--bg-creme-color);
 }
 .head-card p{
    font-size: var(--font-16);
    color: var(--text-grey);
    text-align: center;
 }
 #hero{
    max-width: 100%;
    width: 100%;
    position: relative;
    background-image: url(/photos/bghero.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    scroll-behavior: smooth;
 }
 #hero::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:#0000000c;
 }
 #hero .head{
   
    max-width: 100%;
    padding: 10px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: var(--transition-2);
 }
 #logo{
    max-width: 100%;
    cursor: pointer;
    font-size: var(--font-h2);
    color: var(--text-white);
    font-weight: 400;
    z-index: 2;
    
 }
 .head .head-nav{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
 }
 .head-nav a{
    font-size: var(--font-16);
    color: var(--text-white);
    z-index: 2;
    padding: 2px 7px;
    transition: var(--transition-1);
    font-weight: 600;
    letter-spacing: 1px;
    
 }
 .head-nav a:hover{
    color: var(--text-white2);
    margin-top: -4px;
 }
 #navBar{
    max-width: 100%;
    width: 450px;
    background:#0000009f;
    backdrop-filter: blur(50px);
    z-index: 2;
    position: fixed;
    top: 5%;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 35px;
    border: 1px solid #000;
    border-radius: 10px;
    /* display: flex; */
    display: none;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition-2);

    
 }
 #navBar .nav-logo{
    color: var(--text-white);
    font-size: var(--font-h4);
    font-weight: 400;
    animation: zoom 0.5s ease-in-out;

 }
 .navBar-menu{
    max-width: 100%;
    background: transparent;
    z-index: 2;
    display: flex;
 }
 .navBar-menu i{
    color: var(--text-white);
    font-size: var(--font-h4);
    cursor: pointer;
    transition: var(--transition-1);

 }
 .navBar-menu i:hover{
    color: var(--bg-card-color);
 }
 .navBar-menu .navBaropen{
    display: block;
    transition: var(--transition-1);
    animation: zoom 0.5s ease-in-out;
 }
 .navBar-menu .navBarclose{
    display: none;
    transition: var(--transition-1);
    animation: zoom 0.5s ease-in-out;
 }
 #navBar .navBar-link{
    max-width: 100%;
   display: none;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition-1);
 }
 .navBar-link a{
    font-size: var(--font-16);
    color: var(--text-white);
    font-weight: 300;
   
    transition: var(--transition-1);
    position: relative;
 }
 .navBar-link a::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    margin: 0 auto;
    height: 1px;
    background: var(--bg-card-color);
    transition: var(--transition-2);
 }
 .navBar-link a:hover::after{
    width: 100%;
 }
 .navBar-link a:hover{
    color: var(--text-white2);
 }


 .hero-content{
    max-width: 100%;
    z-index: 100;
    width: 800px;
    margin: 20px 45px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .hero-content .hero-star{
    max-width: 100%;
    display: flex;
    gap: 5px;
    position: relative;
 }
 .hero-star i,
 .hero-star span{
    color: var(--text-white);
    font-size: var(--font-18);
 }
 .hero-content h1{
    color: var(--text-white);
    margin-top: 40px;
 }
 .hero-content p{
    color: var(--bg-card-color);
    margin: 25px 0;
 }

 
 /* ----------------------------------------
 ============= main start here  ==============
 -------------------------------------------*/ 

 /* ===============counter section===========  */
 #counter{
    max-width: 100%;
    margin:  0 auto;
    width: 100%;
    height: inherit;
    border-bottom: 1px solid #929090;
    
    
 }
 #counter .counter-container{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 4% 0;
    
    
 }
 .counter-container .counter-card{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
 }
 .counter-card h3{
    color: var(--text-grey);
    text-transform: capitalize;
 }
 .counter-card p{
    font-size: var(--font-18);
    text-transform: capitalize;
    color: var(--text-grey);
 }


 /* ===============product section===========  */
 #product,
 #trading,
 #hot-product,
 #review,
 #faq, 
 #post{
    max-width: 100%;
    margin: 0 auto;
    height: inherit;

 }
 #product .product-content,
 #trading .product-content,
 #hot-product .product-content,
 #post .product-content{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
 }
 .product-content h2{
    text-transform: capitalize;
    font-weight: 400;

 }
 .viewAll{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: var(--font-h5);
    font-weight: 500;
    color: var(--text-grey);
    font-family: "Marcellus", serif;
    transition: var(--transition-1);
 }
 .viewAll i{
    transition: var(--transition-1);
 }
 .viewAll:hover i{
    margin-left: 10px;
 }
 .product-container{
    max-width: 100%;
    margin: 5% auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-content: center;
    align-items: center;
 }
 .product-container .product-card{
    position: relative;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #00000013;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    padding: 1px;
 }
 .product-card .product-card-content{
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    border-radius: 10px 10px 0 0;
   
 }
 .product-card:hover .product-img img{
    transform: scale(1.04);
    
 }
 .product-card-content .product-img{
    width: 100%;
    height: 300px;
    position: relative;
   
 }
 .product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow-clip-margin: content-box;
    overflow: clip;
    transition: var(--transition-2);
   
    
 }
 .product-img a,
 .trading-card a{
    position: absolute;
    width: 100%;
    top: 10px;
    right: 10px;
    width: 45%;
    padding: 10px;
    border: 1px solid #33333356;
    transition: var(--transition-2);
 }
 .product-img a:hover,
 .trading-card a:hover{
    opacity: 0.8;
    background: #ffffffc4;
    backdrop-filter: blur(50px);
 }
 .product-card .product-card-info{
    width: 100%;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
 }
 .product-card-info h4{
    font-weight: 400;
    font-size: var(--font-h5);
    text-transform: capitalize;
    color: var(--text-grey);
 }
 .product-card-info p{
    font-size: var(--font-16);
    color: var(--text-grey);
    font-weight: 400;
    text-transform: capitalize;
 }
 .product-card-info span{
    font-size: var(--font-h5);
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Marcellus", serif;
    margin-top: 10px;
    margin-bottom: 20px;

 }

 /* ===============product section===========  */
 .trading-cotainer {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    margin-top: 3%;
    margin-bottom: 3%;
 }
 .trading-cotainer .trading-card{
    position: relative;
    width: 100%;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
 }
 .trading-cotainer .trading-card:hover .trading-info span{
    font-size: var(--font-h3);
 }
 .trading-cotainer .trading-card:hover  img{

    transform: scale(1.2);
 }
 .trading-card img{
    position: relative;
    width: 100%;
    height: 600px;
    border-radius: 10px;
    transition: 1s ease-in-out;
 }
 
 .trading-card .trading-info{
    position: absolute;
    bottom:  0;
    padding:  50px;
    left: 0;
    z-index: 100;
    width: 100%;
    max-width: 100%;
 }
 .trading-info p{
    z-index: 1;
    color: var(--text-white);
 }
 .trading-info p:nth-child(1){
    font-size: var(--font-16);
    font-weight: 500;
    margin-bottom: 20px;
 }
 .trading-info p:nth-child(3){
    color: var(--text-white2);
    font-size: var(--font-18);
    font-weight: 600;
    margin-bottom: 10px;
 }
 .trading-info p:nth-child(4){
    font-size: var(--font-16);
    color: var(--text-white);
    line-height: 25px;
    margin-bottom: 20px;
 }
 .trading-info h4{
    color: var(--text-white);
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 10px;
 }
 .trading-info span{
    font-size: var(--font-h4);
    font-family: "Marcellus", serif;
    color: var(--bg-card-color);
    transition: var(--transition-1);
    

 }
 .trading-card a{
    width: 30%;
    top: 30px;
    right: 30px;
 }


 .marquee-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background: var(--bg-creme-color);
    padding: 50px 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-top: 25px;
  }

  .marquee-content {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 200s linear infinite;
  }

  .marquee-content span {
    margin-right: 50px;
    display: inline-block;
    gap: 10px;
    

  }
  .marquee-content span ul{
    display: flex;
    gap: 30px;
    font-size: var(--font-h3);
  }
  .marquee-content span ul i{
    font-size: var(--font-h2);
    color: #000;
  }

  @keyframes marquee {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }

   /* ===============review section===========  */
   #review{
      background: var(--bg-secondary-color);
      padding-bottom: 5%;
   }
   .review-information{
      max-width: 100%;
      width: 700px;
      margin: 10% auto 0;
      color: var(--text-white);
   }
   .review-information h3{
      color: var(--text-white);
      text-align: center;
      margin-bottom: 20px;
   }
   .review-information p{
      text-align: center;
      color: var(--text-white2);
   }
   .review-wrap{
      max-width: 100%;
      width: 100%;
      margin:  0 auto;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      
   }
   #w-leftBtn,
   #w-rightBtn{
      display: block;
      font-size: var(--font-h2);
       cursor: pointer;
       opacity: 0.4;
       color: var(--bg-creme-color);
       margin-top: 5%;
   }
   #w-leftBtn,
  #w-rightBtn{
    transition: var(--transition-1) ;
 }
  #w-leftBtn:hover{
   opacity: 0.7;

 }
  #w-rightBtn:hover{
    opacity: 0.7;
 }
 .review-slider{
   width: 1200px;
   height: 100%;
   max-width: 100%;

   scroll-behavior: smooth;
   max-width: 100%;
   margin: 0 auto;
   margin-top: 5%;
   display:flex ;
   
   overflow-x: scroll;
   padding-top: 25px;
   scroll-behavior: smooth;
   animation: zoom 0.3s linear ease-in-out;
   
 }
 .review-slider::-webkit-scrollbar{
   display: none;
}
.review-slider .review-slider-container{
   width: 100%;
   display: grid;
   grid-template-columns: auto auto auto ;
   grid-gap: 10px;
   padding: 10px;
   margin: 0 20px;
   flex: none;
   cursor: grab;
}
.review-card{
   max-width: 100%;
   width: 400px;
  
   display: flex;
   flex-direction: column;
   gap: 20px;
   border: 1px solid var(--text-white2);
   border-radius: 20px;
   padding: 20px;
   
}
.review-card .review-head{
   display: flex;
   max-width: 100%;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 25px;
}
.review-head img{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   object-fit: cover;
}
.review-head .review-head-info{
   
   max-width: 100%;
   display: flex;
   flex-direction: column;
   gap: 5px;
 

}
.review-head-info h5{
   color: var(--text-white);
   font-weight: 500;
}
.review-head-info p{
   color: var(--text-white2);
   font-size: var(--font-16);
   font-weight: 400;
}
.review-card .review-content{
   max-width: 100%;
  
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-top: 15%;
  
}
.review-content .review-star{
   max-width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 5px;
   position: relative;
   
}
.review-content .review-star i,
.review-content .review-star span{
   font-size: var(--font-18);
   color: #fff;
  
}
.review-content h4{
   color: var(--text-white);
   font-weight: 300;
}
.review-content q{
   margin: 3% auto;
   max-width: 100%;
   color: var(--text-white2);
   
}

/* ===============faq section===========  */
#faq{
   background:var(--bg-card-color);
   padding-bottom: 8%;
}

.faq-container{
   max-width: 100%;
   width: 90%;
   margin:  0 auto;
   margin-top: 5%;
   height: auto;
}
.faq-container .faq-content{
   max-width: 100%;
   margin:  0;
   padding: 15px 0 ;
   height: auto;
   border-bottom: 2px solid #24232323;
}
.faq-content .question{
   max-width: 100%;
   width: 100%;
   display: flex;
 
   justify-content: space-between;
   align-items: center;
   padding: 10px 15px;
   cursor: pointer;
   transition: 0.2s ;
   background-color: transparent;
   border-radius: 5px;
   color: var(--text-grey);
   transition: var(--transition-1);
}
.faq-content .question:hover{
   width: 99.9%;
}
.faq-content .question i{
   font-size: var(--font-h3);
}

.question h3{
   color: var(--text-grey);
   text-transform: capitalize;
}
.faq-content .answare{
   padding: 10px 15px 2px;
   max-width: 100%;
   width: 98%;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.5s ease-in-out;
   animation: fadeed 1s ease-in-out;
}
.faq-content .answare p{
   line-height: 25px;
   opacity: 0.8;
   color: var(--text-grey);
   opacity: 0.8;
}

.faq-content.active .answare{
   max-height: 400px;
}
.faq-content.active .ri-add-line{
   transform: rotate(135deg);
   color: #000000;
}
.ri-add-line {
   transition: transform 0.5s ease;
}

@keyframes fadeed {
   from{
       opacity: 0;
       transform: translateY(-10px);
   }to{
       opacity: 1;
       transform: translateY(0);
   }
}